body{
  &.hidden-title{
    .node--view-mode-full .header-title{
      display: none!important;
    }
  }
}

/* ----- Maintenance page ----- */
body.maintenance-page {
  background-color: #fff;
  color: #000;
}
.maintenance-page #page-wrapper {
  background: #fff;
  margin-left: auto;
  margin-right: auto; 
  min-width: 0;
  min-height: 0;
  border: 1px solid #ddd;
  margin-top: 40px;
}
.maintenance-page #page {
  margin: 10px;
}
.maintenance-page #main-wrapper {
  min-height: inherit;
}
.maintenance-page #header {
  width: auto;
}
.maintenance-page #main {
  margin: 0;
}
.maintenance-page .content .section {
  padding: 0 0 0 10px; /* LTR */
}
[dir="rtl"] .maintenance-page .content .section {
  padding-left: 0;
  padding-right: 10px;
}
.maintenance-page #header {
  background-color: #fff;
  background-image: none;
}
.maintenance-page .site-branding-text {
  margin-bottom: 50px;
  margin-left: 0; /* LTR */
  padding-top: 20px;
  font-size: 90%;
}
[dir="rtl"] .maintenance-page .site-branding-text {
  margin-right: 0;
}
.maintenance-page .site-branding-text,
.maintenance-page .site-branding-text a,
.maintenance-page .site-branding-text a:hover,
.maintenance-page .site-branding-text a:focus {
  color: #777;
}
.maintenance-page  .page-title {
  line-height: 1em;
  margin-top: 0;
}
@media all and (min-width: 800px) {
  .maintenance-page #page-wrapper {
    width: 800px;
  }
  .maintenance-page #header div.section,
  .maintenance-page #main {
    width: 700px;
  }
}
@media all and (min-width: 600px) { 
  .maintenance-page #page {
    margin: 20px 40px 40px;
  }
}

.page-notfound{
  text-align: center;
  padding: 150px 0;
  background: #f6f6f6;
  @include media-breakpoint-down(sm){
    padding: 50px 0;
  }
  header{
    display: none!important;
  }
  .big-title{
      font-size: 200px;
      font-weight: 700;
      text-transform: uppercase;
      color: $black;
      line-height: 1;
      @include media-breakpoint-down(sm){
        font-size: 90px;
      }
  }
  .sub-title{
    color: #999999;
    padding: 30px 0;
  }
  .content{
    color: #666666;
    font-size: 16px;
    max-width: 450px;
    margin: 0 auto;
    line-height: 30px;
    @include media-breakpoint-down(sm){
      padding: 0 20px;
    }
  }
  .action{
    text-align: center;
    margin-top: 30px;
    a{
      font-size: 16px;
      color: $theme-color;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover{
        color: $black;
      }
    }
  }
}

.view-page{
  margin-bottom: 50px;
} 

.portfolio-single{
  padding-bottom: 30px;
  .portfolio-images{
    .owl-nav{
      .owl-prev{
        left: 20px!important;
      }
      .owl-next{
        right: 20px!important;
      }
    }
    .owl-dots{
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
    }
  }
  .post-title{
    font-size: 30px;
    padding: 0;
    margin: 0!important;
    @include media-breakpoint-down(md){
      font-size: 20px;
    }
  }
  .post-meta{
    margin: 10px 0 30px!important;
    .line{
      @include size(10px, 2px);
      background: $theme-color;
      margin: 0 10px 0 4px;
      display: inline-block;
      position: relative;
      top: -3px;
    }
  }
  .portfolio-informations{
    margin-bottom: 15px;
    .item-information{
      border-bottom: 1px solid $border-color;
      padding: 10px 0;
      line-height: 24px;
      span{
        display: block;
        font-size: 16px;
        &:first-child{
          font-weight: 700;
          min-width: 120px;
          display: inline-block;
          color: $theme-color-second;
          font-family: $headings-font-family;
        }
      }
    }
  }
  .post-content{
    ul{
      padding-left: 20px;
      margin-top: 15px;
    }
  }
}

.team-single-page{
  .team-name{
    margin-bottom: 30px;
    .name{
      font-size: 30px;
      font-weight: 700;
      color: $black;
      line-height: 42px;
    }
    .job{
      font-size: 12px;
      color: #999999;
    }
    .line{
      text-align: center;
      float: left;
      span{
        @include size(30px, 5px);
        @include border-radius(10px);
        display: inline-block;
        margin: 0 5px;
        &.one{
          background: #5EB4E7;
          margin-left: 0;
        }
        &.second{
          background: #F8C44F;
        }
        &.three{
          background: #F49626;
          margin-right: 0;
        }
      }
    }
  }
  .socials{
    margin-top: 10px;
  }
  .heading{
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }
  .team-contact{
    margin-bottom: 25px;
  }
  .team-contact, .team-education{
    .content-inner{
      color: #999999;
      font-size: 13px;
      line-height: 28px;
    }
  }
  .team-education{
    .field__item{
      padding-left: 20px;
      position: relative;
      &:after{
        content: "";
        @include size(6px, 6px);
        background: $theme-color;
        position: absolute;
        top: 8px;
        left: 0;
        @include border-radius(50%);
        z-index: 1;
      }
    }
  }
  .team-info{
    margin-bottom: 30px!important;
  }
  .team-quote{
    font-size: 16px;
    color: #999999;
    margin-top: 20px;
    padding-left: 50px;
    position: relative;
    &:after{
      font-family: $font-icon;
      content: "\f10d";
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
      color: $theme-color;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
    }
  }
}

.page-user-login, .page-user-register, .page-user-pass{
  position: relative;
  .bg{
    background: #152C49;
    position: fixed;
    @include size(100%, 100%);
    top: 0;
    left: 0;
    z-index: 9;
  }
  input{
    max-width: 100%;
  }
  .main-page{
    padding: 10px 30px 30px;
    @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
    max-width: 550px;
    background: $white;
    border: 8px solid rgba(255, 255, 255, 0.8);
    @include border-radius(10px); 
    margin: 50px auto 0;
    position: relative;
    z-index: 99;
    @include media-breakpoint-down(sm){
      margin-top: 35px;
    }
  }
  .branding {
    margin-bottom: 20px;
  }
  .container{
    padding: 0;
  }
  .nav-tabs{
    margin-bottom: 20px;
    > li{
      > a{
        padding: 8px 20px 0 0!important; 
      }
    }
  }
}

