.gsc-button{
  @include transition(all 0.35s);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border: 2px solid $nocolor;
  margin-bottom: 20px;
  display: inline-block;
  clear: both;
  &.radius-2x{
    @include border-radius(5px);
  }
  &.radius-5x{
    @include border-radius(60px);
  }
  &.mini{
    font-size: 10px;
    padding: 3px 10px;
  }
  &.small{
    font-size: 10px;
    padding: 8px 15px;
  }
  &.medium{
    font-size: 12px;
    padding: 12px 35px;
  }
  &.large{
    font-size: 14px;
    padding: 18px 60px;
  }
  &.extra-large{
    font-size: 14px;
    padding: 20px 60px;
  }
}
