.gsc-heading{
   padding: 0 0 35px;
   display: block;
   width: 100%;
   @include clearfix();
   @include media-breakpoint-down(sm){
     padding: 0 0 30px;
     &.heading-bg-white{
       padding: 30px 20px!important;
       background: $white;
     }
   }
   .title{
     position: relative;
     margin: 0;
     letter-spacing: -1px;
   }
   .sub-title{
      color: #7f8284;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 5px;
      font-family: $headings-font-family;
      @include media-breakpoint-down(md){
        font-size: 12px;
      }
      > span{
        padding: 0 0 0 35px;
        position: relative;
        &:after{
          content: '';
          @include size(20px, 2px);
          background: $theme-color;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -1px;
          z-index: 1;
        }
      }
   }
   .heading-line{
    &.heading-line-1{
      width: 80px;
      height: 2px;
      margin: 16px auto 16px;
      background: $theme-color;
    }
    &.heading-line-2{
      width: 80px;
      height: 6px;
      border-top: 1px solid $theme-color;
      border-bottom: 1px solid $theme-color;
      margin: 16px auto 16px;
    }
    &.heading-line-3{
      width: 30px;
      background: $black;
      height: 2px;
      margin: 16px auto 16px;
    }
   }
   .heading-bottom{
    clear: both;
     .title-desc{
       max-width: 700px;
       margin: 0 auto;
       margin-top: 10px;
       p{
         margin-bottom: 0;
       }
     }
   }
   .heading-action{
    margin-top: 10px;
    @include media-breakpoint-down(md){
      margin-top: 0;
    }
   }
   &.align-center{
     text-align: center;
     margin: 0 auto;
   }
  &.align-left{
    text-align: left;
    .heading-line{
      float: left;
      clear: both;
    }
    .title-desc{
      float: left; 
    }
    .title-icon{
      padding-left: 50px;
    }
  }
  &.align-right{
    text-align: right;
    float: right;
    @include clearfix();
    .heading-line{
      float: right;
      clear: both;
    }
  }
  &.align-right{
    text-align: right;
    .title-desc{
      float: right;
    }
  }
  &.style-1{
    .title{
      font-size: 50px;
      position: relative;
      @include media-breakpoint-down(lg){
        font-size: 46px;
      }
      @include media-breakpoint-down(md){
        font-size: 38px;
      }
      @include media-breakpoint-down(sm){
        font-size: 30px;
      }
    }
    .title-desc{
      margin-top: 25px;
    }
    &.align-left{
      .title{
        &:after{
          left: 0;
          margin-left: 0;
        }
      }
    }
    &.align-right{
      .title{
        &:after{
          right: 0;
          margin-left: 0;
        }
      }
    }
  }
  &.style-2{
    padding: 0 0 45px;
    .title{  
      font-size: 46px;
      line-height: 1.2;
      text-transform: uppercase;
      @include media-breakpoint-down(md){
        font-size: 38px;
      }
      @include media-breakpoint-down(md){
        &.fsize-00{
          font-size: 32px;
        }
      }
      &.fw-900{
        letter-spacing: -1px;
      }
    }
    .title-desc{
      margin-top: 5px;
    }
  }

  &.text-light{
    .title-sub{
      color: $white;
    }
    .title{
      color: $white;
    }
    .sub-title span{
      color: rgba(255, 255, 255, 0.9);
    }
    .title-desc{
      color: #f5f5f5;
    }
  }
}