.gsc-icon-box-new{
  &.style-1{
    background: $white;
    position: relative;
    @include clearfix();
    margin-bottom: 30px;
    min-height: 75px;
    @include media-breakpoint-down(lg){
      margin-bottom: 20px;
    }
    .icon-inner{
      width: 60px;
      line-height: 76px;
      background: $theme-color;
      text-align: center;
      color: $white;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      .icon{
        font-size: 34px;
      }
    }
    .content-inner{
      padding: 15px 10px 15px 70px;
      p{ margin: 0;}
      .title{
        color: $theme-color-second;
        font-family: $headings-font-family;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 5px;
        @include media-breakpoint-down(lg){
          font-size: 16px;
        }
      }
      .desc{
        font-size: 14px;
      }
    }
  }
  &.style-2{
    background: $white;
    position: relative;
    padding: 30px 20px;
    margin-bottom: 30px;
    .icon-inner{
      @include size(56px, 56px);
      line-height: 64px;
      background: $theme-color;
      text-align: center;
      color: $white;
      position: absolute;
      top: 30px;
      left: 20px;
      z-index: 1;
      @include border-radius(50%);
      float: left;
      .icon{
        font-size: 24px;
        color: $white;
      }
    }
    .content-inner{
      padding-left: 70px;
       @include media-breakpoint-down(md){
        padding-left: 0;
        padding-top: 70px;
      }
      p{ margin: 0;}
      .title{
        font-size: 20px;
        line-height: 24px;
        @include media-breakpoint-down(lg){
          font-size: 18px;
        }
      }
      .desc{
        margin-top: 10px;
        font-size: 15px;
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          li{
            position: relative;
            padding-left: 15px;
            &:after{
              content: "\f111";
              margin-right: 10px;
              color: $theme-color;
              display: block;
              font-size: 6px;
              font-family: $font-icon;
              position: absolute;
              top: 6px;
              left: 0;
              z-index: 1;
              font-weight: 900;
            }
          }
        }
        .link{
          margin-top: 13px;
          color: $theme-color;
          display: inline-block;
          font-family: $headings-font-family;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.style-3{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    background: $white;
    padding: 10px;
    .icon-inner{
      @include size(40px, 40px);
      @include border-radius(50%);
      border: 1px solid $theme-color;
      float: left;
      color: $theme-color;
      font-size: 18px;
      text-align: center;
      line-height: 40px;
    }
    .content-inner{
      padding-top: 8px;
      padding-left: 50px;
      text-transform: uppercase;
      color: $headings-color;
      font-family: $headings-font-family;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
  &.style-4{
    position: relative;
    @include clearfix();
    margin-bottom: 30px;
    .icon-inner{
      @include size(80px, 80px);
      border: 1px solid $border-color;
      @include border-radius(50%);
      margin: 0 auto;
      padding: 10px; 
      margin-bottom: 15px;
      .icon{ 
        @include size(100%, 100%);
        @include border-radius(50%);
        text-align: center;
        line-height: 60px;
        color: $theme-color-second;
        background: $theme-color;
        font-size: 22px;
        @include box-shadow(0 10px 30px rgba(0, 0, 0, 0.1));
      }
    }
    .content-inner{
      text-align: center;
      p{ margin: 0;}
      .title{
        text-transform: uppercase;
        color: $headings-color;
        letter-spacing: 2px;
        font-family: $headings-font-family;
        font-weight: 500;
        font-size: 12px;
      }
    }
    &.text-light{
      .icon-inner{
        border-color: rgba(255, 255, 255, 0.2);
        .icon{
          @include box-shadow(0 10px 30px rgba(255, 255, 255, 0.1));
          background: rgba(0, 0, 0, 0.2);
        }
      }
      .content-inner{
        .desc{
          color: $white;
        }
      }
    }
  }
  &.style-5{
    background: $white;
    position: relative;
    @include transition(all 0.35s);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;
    @include border-radius(6px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    @include media-breakpoint-down(lg){
      padding: 20px 10px;
    }
    .content-inner{
      text-align: left;
      .title{
        color: $headings-color;
        font-size: 20px;
        @include transition(all 0.35s);
        margin: 6px 0 6px;
        line-height: 24px;
        @include media-breakpoint-down(lg){
          font-size: 18px;
          line-height: 22px;
        }
      }
      .desc{
        color: #999;
        line-height: 22px;
        font-size: 16px;
        a{
          text-decoration: underline;
          color: #999;
          &:hover{
            color: $theme-color;
          }
        }
      }
    }
    .icon-inner{
      text-align: center;
      @include size(70px, 70px);
      float: left;
      @include border-radius(50%);
      border: 1px solid $border-color;
      padding-top: 9px;
      @include media-breakpoint-down(lg){
        @include size(60px, 60px);
        padding-top: 4px;
      }
      .icon{
        color: $theme-color;
        @include transition(all 0.35s);
        font-size: 26px;
        @include size(50px, 50px);
        line-height: 50px;
        text-align: center;
        background: #f5f5f5;
        display: inline-block;
        position: relative;
        @include border-radius(50%);
      }
    }
    .content-inner{
      padding-left: 85px;
      @include media-breakpoint-down(lg){
        padding-left: 75px;
      }
    }
    &:hover{
      .icon-inner{
        .icon{
          color: $white;
          background: $theme-color;
        }
      }
    }
  }
  
}