.gsc-image-content{
  &.skin-v1{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    .image{
      position: relative;
      &:after{
        content: '';
        position: absolute;
        background-image: -webkit-linear-gradient(to bottom,transparent 30%,rgba(0, 0, 0, .9) 100%);
        background-image: -moz-linear-gradient(to bottom,transparent 30%,rgba(0, 0, 0, .9) 100%);
        background-image: -ms-linear-gradient(to bottom,transparent 30%,rgba(0, 0, 0, .9) 100%);
        background-image: -o-linear-gradient(to bottom,transparent 30%,rgba(0, 0, 0, .9) 100%);
        background-image: linear-gradient(to bottom,transparent 30%,rgba(0, 0, 0, .9) 100%);
        @include size(100%, 100%);
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.35s;
      }
    }
    .box-content{
      padding: 10px 30px 30px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 11;
      .icon{
        font-size: 56px;
        color: $white;
        line-height: 58px;
        margin-bottom: 15px;
      }
      .title{
        font-size: 24px;
        margin: 0 0 10px;
        a{
          color: $white;
        }
      }
      .read-more{
        margin-top: 15px;
      }
    }
    &:hover{
      .image{
        &:after{
          background: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  &.skin-v2{
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    @include border-radius(6px);
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
    @include box-shadow(0px 10px 30px rgba(0, 0, 0, 0.1));
    .image{
      position: relative;
      overflow: hidden;
      text-align: center;
      img{
        @include transition(all 3s);
      }
    }  
    .box-content{
      background: $white;
      padding: 30px;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      @include transition(all 0.35s);
      .title{
        margin: 0 0 15px;
        font-size: 20px;
      }
      .desc{
        margin-top: 5px;
      }
    }
  }
  &.skin-v3{
    max-width: 550px;
    margin: 0 auto 20px;
    .image{
      position: relative;
      margin-bottom: 20px;
      text-align: center;
      &:after{
        content: '';
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        @include size(100%, 100%);
        top: 0;
        left: 0;
        z-index: 1;
        @include transition(all 0.35s);
      }
      .title{
        position: absolute;
        top: 50%;
        width: 100%;
        padding: 10px 15px;
        text-align: center;
        z-index: 9;
        margin-top: -25px;
        color: $white;
        a{
          color: $white;
          text-shadow: 0 0 5px #000;
        }
      }
      &:hover{
        &:after{
          background: $theme-color;
        }
      }
    }
    .read-more{
      margin-top: 10px;  
    }
  }
}