.gsc-progress-box{
   border: 1px solid $border-color;
   padding: 75px 60px 55px;
   position: relative;
   text-align: center;
   @include media-breakpoint-down(lg){
      padding: 35px 30px 30px; 
   }
   .icon-box{
      @include size(40px, 40px);
      background: $theme_color;
      @include border-radius(50%);
      line-height: 42px;
      text-align: center;
      color: $white;
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -20px;
      z-index: 11;
      font-size: 16px;
   } 
   .title{
      font-size: 22px;
      margin: 35px 0;
   }
   .heading-box{
      line-height: 1;
      font-family: $headings-font-family;
      .step-number{
         font-size: 90px;
         color: $theme-color-second;
         font-weight: 700;
         letter-spacing: -2px;
         &.number-01, &.number-1{
            position: relative;
         }
      }
      .step-text{
         font-size: 16px;
         color: $theme_color;
         text-transform: uppercase;
         letter-spacing: 3px;
         font-weight: 500;
      }
   }
} 