
<footer id="footer" class="footer">
  <div class="footer-inner">

    {% if page.before_footer %}
     <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="before-footer clearfix area">
                  {{ page.before_footer }}
              </div>
            </div>
          </div>
        </div>
      </div>
     {% endif %}

     <div class="footer-center">
        <div class="container">
           <div class="row">
              {% if page.footer_first %}
                <div class="footer-first col-xl-{{ footer_first_size }} col-lg-{{ footer_first_size }} col-md-12 col-sm-12 col-xs-12 footer-column">
                  {{ page.footer_first }}
                </div>
              {% endif %}

              {% if page.footer_second %}
                {% set footer_second_size = 3 %}
               <div class="footer-second col-xl-{{ footer_second_size }} col-lg-{{ footer_second_size }} col-md-12 col-sm-12 col-xs-12 footer-column">
                  {{ page.footer_second }}
                </div>
              {% endif %}

              {% if page.footer_third %}
                <div class="footer-third col-xl-{{ footer_third_size }} col-lg-{{ footer_third_size }} col-md-12 col-sm-12 col-xs-12 footer-column">
                  {{ page.footer_third }}
                </div>
              {% endif %}

              {% if page.footer_four %}
                {% set footer_four_size = 5 %}
                 <div class="footer-four col-xl-{{ footer_four_size }} col-lg-{{ footer_four_size }} col-md-12 col-sm-12 col-xs-12 footer-column">
                  {{ page.footer_four }}
                </div>
              {% endif %}
           </div>
        </div>
    </div>
  </div>

  {% if page.copyright %}
    <div class="copyright">
      <div class="container">
        <div class="copyright-inner">
            {{ page.copyright }}
        </div>
      </div>
    </div>
  {% endif %}

</footer>
