#american-trade {
  @media (min-width:768px) {
    background: url(/themes/custom/daudo_subtheme/images/ford-left.jpg) no-repeat -100px center;
    background-size: 50%;
  }

  @media (min-width:992px) {
    background: url(/themes/custom/daudo_subtheme/images/ford-left.jpg) no-repeat -150px center;
    background-size: 50%;
  }

  @media (min-width:1200px) {
    background: url('/themes/custom/daudo_subtheme/images/ford-left.jpg') no-repeat -150px center;
    background-size: 50%;
  }

  @media (min-width:1600px) {
    background: url('/themes/custom/daudo_subtheme/images/ford-left.jpg') no-repeat left center;
    background-size: auto;
  }
}

#faq {
  > .bb-inner {
    background: url('/themes/custom/daudo_subtheme/images/ship-right.jpg') no-repeat right bottom;

    &:after {
      content: '';
      display: block;
      width: 445px;
      height: 427px;
      background: url('/themes/custom/daudo_subtheme/images/car-left.jpg') no-repeat left bottom;
      position: absolute;
      top: 35%;
      left: 0;
    }
  }

  .panel .panel-heading .panel-title {
    padding-right: 30px;

    a:after {
      right: -30px;
    }
  }
}

#how-its-working {
  h3.title {
    margin-bottom: 5px;
  }

  .desc {
    font-size: 13px;
    color: white !important;
  }
}

#shoplist {
  > .bb-inner {
    padding: 0;
  }

  .owl-item {
    padding: 5px;
  }
}

.trade-calculator {
  $color-border: #dadcdd;
  $color-bg: #f2f2f2;

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }

  label {
    text-transform: none !important;
  }

  .form-item {
    margin-bottom: 0.25rem;
  }

  .form-item-auction,
  .form-item-city,
  .form-item-days-port,
  .form-item-expedition,
  .form-item-customs,
  .form-item-services,
  .form-item-sum,
  .form-item-cert,
  .form-item-fund,
  .form-item-poshlina,
  .form-item-akciznyy-sbor,
  .form-item-nalog-na-dobavlennuyu-stoimost-nds- {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    label {
      flex: 1;
      white-space: nowrap;
      margin-right: 15px;
      min-width: 155px;
    }

    select {
      width: auto;
    }
  }

  .form-item-city {
    label {
      white-space: normal;
      line-height: 1.5 !important;
    }
  }

  .calc-col-right {
    > div {
      &:nth-child(odd) {
        background: $color-bg;
        border-top: $color-border 1px solid;
        border-bottom: $color-border 1px solid;
      }
    }
  }

  .form-item-days-port {
    //display: none;
    background: white;
    border-top: 0;
    border-bottom: 0;
  }

  .form-item-price-value {
    border-top: 0;
  }

  .form-item-fund {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .form-item-sum {
    input[type=text] {
      color: $color-red !important;
      font-size: 26px !important;
    }
  }

  #edit-processed-text,
  #edit-processed-text-01 {
    p {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  #edit-processed-text-01 {
    span {
      color: $color-blue;
      margin-right: 5px;
      font-weight: 800;
      font-size: 14px;
    }
  }

  .col-lg-5 {
    position: relative;
    transform: translateY(-32px);
  }

  .calc-col-right {
    border: $color-border 1px solid;
    background: white;

    .row {
      padding-left: 15px;
      padding-right: 15px;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    label {
      line-height: 48px;
    }

    input[type=text] {
      text-align: right;
      border: 0;
      background: transparent;
      font-size: 20px;
      font-weight: 700;
      color: $color-blue;
      width: 100px;
    }
  }

  .form-item-auction {
    flex: 1;
  }

  .form-item-customs {
    cursor: pointer;

    input {
      cursor: pointer;
    }

    label {
      cursor: pointer;

      &:after {
        content: "\f118";
        display: inline-block;
        font-family: Flaticon;
        font-style: normal;
        margin-left: 5px;
        color: $color-blue;
        cursor: pointer;
      }
    }
  }

  #edit-container-06 {
    padding: 0 15px;
    margin-top: 15px;
    border: $color-border 1px solid;
    display: none;

    .js-form-item {
      border-bottom: $color-border 1px solid;

      &:last-child {
        border: 0;
      }
    }

    label,
    input[type=text]{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    > label {
      font-weight: 600;
    }
  }

  .form-item-customs.opened + #edit-container-06 {
    display: block;
  }

  input[type=submit] {
    margin-top: 15px;
  }
}

#calculator-section {
  background: url('/themes/custom/daudo_subtheme/images/auctions.jpg') no-repeat 50px 90%;
}

#auctions {
  text-align: center;

  #auctions-list {
    .row {
      justify-content: center;
    }
  }

  .widget {
    &.gsc-heading {
      h2 {
        font-weight: 300 !important;
        margin-top: 15px;
        letter-spacing: 0;
      }
    }
  }

  #auction-cta {
    a {
      text-align: center;
      white-space: nowrap;
    }
  }
}

.post-block.teaser-2 {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,.05);

  .post-image {
    a {
      position: relative;

      img {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }

      &:after {
        opacity: 0;
        transition: all 0.3s ease-in-out;
        content: 'Подробнее';
        display: inline-block;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,0);
        color: white;
        background: $color-blue;
        padding: 10px 20px;
      }

      &:hover {
        img {
          opacity: 0.5;
        }

        &:after {
          transition: all 0.3s ease-in-out;
          top: 50%;
          opacity: 1;
          transform: translate(-50%,-50%);
        }
      }
    }
  }

  .post-content {
    padding: 0 15px 15px;
  }

  .post-attributes {
    img {
      width: 26px;
      min-width: 26px;
      height: 21px;
    }
  }

  .post-title {
    font-weight: 300;
    margin-top: 15px;
  }

  .post-price {
    color: $color-red;
    margin: 5px auto 10px;

    .dollar {
      line-height: 38px;
      margin-right: 3px;
      display: block;
      position: relative;
      transform: translateY(-5px);
    }

    .value {
      line-height: 48px;
      font-size: 30px;
      font-weight: 600;
    }
  }
}

.post-block .post-content .post-meta .post-categories {
  &--price {
    display: block;
    color: $color-red;
    font-size: 14px;
  }
}

.breadcrumb-content-inner .gva-parallax-background .gva-parallax-inner {
  background-position: center center;
  background-size: cover;
}

#requestCarWebform .block-title {
  display: none;
}



.lot-table__row {
  padding: 5px 15px;

  &:nth-child(odd) {
    background: #f2f2f2;
    border-top: #dadcdd 1px solid;
    border-bottom: #dadcdd 1px solid;
  }
}

#calc-auction-input::placeholder {
  font-weight: normal;
  opacity: 0.75;
  font-size: 14px;
}
