$color-red: #FF4A17;
$color-blue: #3B7EFF;

.btn {
  &-primary {
    background-color: $color-blue;
    color: white;

    &-outline {
      border: $color-blue 2px solid;
      background-color: transparent;
      color: $color-blue;

      &:hover {
        border-color: $color-blue;
      }
    }
  }
}

.modal-xl {
  @media (min-width: 992px) {
    max-width: 800px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

body {
  .ui-widget-overlay {
    background: #000;
    opacity: 0.7;
  }

  .ui-dialog {
    padding: 0;

    &-titlebar {
      padding: 0 1em;
      background-color: $color-blue;
    }

    .ui-dialog-content {
      &.webform-confirmation-modal--content {
        text-align: center;
      }
    }
  }
}

.block.mb-4 {
  margin-bottom: 1.5rem !important;
}

header .site-branding-logo {
  padding: 5px 0;

  img {
    max-height: 85px;
  }
}

.breadcrumb-links {
  display: none !important;
}

.webform-webform-telephone-international {
  padding-left: 45px !important;
}

.contact-link {
  &--blue,
  &--red {
    background-color: $color-blue;

    a:not(.btn) {
      color: white;
      text-decoration: underline;
    }
  }
}

.owl-carousel,
.view-portfolio {
  .portfolio-hover {
    .category {
      color: $color-red;
      font-weight: 800;
    }
  }
}

.spinner {
  &__overlay {
    background: rgba(255,255,255,0.9);
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
  }

  &__loader {
    position: absolute;
    top: 47%;
    left: 47%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid $color-blue;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &:after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border-left: 4px solid $color-red;
      border-bottom: 4px solid transparent;
      animation: rotation 0.5s linear infinite reverse;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

