.node-type-article {
  .breadcrumb-content-inner .breadcrumb-content-main {
    padding: 40px 15px 40px;
  }

  .gva-block-breadcrumb {
    .breadcrumb-style {
      background-image: url(/themes/custom/gavias_daudo/images/breadcrumb--node--car--buy-now.jpg) !important;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .node-detail .post-thumbnail.post-gallery .owl-nav {
    .owl-prev {
      margin-left: 0;
      top: 20px;
    }

    .owl-next {
      margin-right: 0;
      top: 20px;
    }
  }

  .node--view-mode-full {
    .post-content {
      position: relative;
    }

    .post-price {
      color: $color-red;
      margin: 5px auto 10px;
      display: inline-block;
      padding: 10px 20px;
      position: absolute;
      top: -80px;
      z-index: 9;
      background: white;

      .dollar {
        line-height: 38px;
        margin-right: 3px;
        display: block;
        position: relative;
        transform: translateY(-5px);
      }

      .value {
        line-height: 48px;
        font-size: 30px;
        font-weight: 600;
      }
    }
  }
}
