.page-contacts {
  .gva-block-breadcrumb {
    .breadcrumb-style {
      background-image: url(/themes/custom/gavias_daudo/images/breadcrumb--contacts.jpg) !important;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.page-steps,
.page-services,
.page-calc {
  .header-title {
    display: none !important;
  }
}


.page-steps {
  .block.block-system-breadcrumb-block {
    margin-bottom: 0;
  }

  .breadcrumb-content-inner {
    margin-bottom: 0;

    .gva-block-breadcrumb .page-title {
      text-align: center;
    }
  }

  .service-timeline .hentry .hentry-box {
    p {
      color: #000;

      a:not(.btn) {
        color: $color-blue;
      }
    }
  }
}

.page-services {
  .gsc-images-parallax.style-v1.left .image-2 {
    max-width: 65%;
  }

  .owl-item {
    .box-content {
      opacity: 0;
    }
  }
}

.page-calc {

}
