{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set custom_classes = '' %}
{% if label == '' %}
{% set custom_classes = 'no-title' %}
{% endif %}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    custom_classes
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2 class="block-title" {{ title_attributes }}><span>{{ label }}</span></h2>
  {% endif %}
  {{ title_suffix }}

  <form id="get-auctions" class="calc-auction mb-5" action="/calc" style="display: none;">
    <label class="h3" for="calc-auction-input">Додайте посилання з Copart чи IAAI:</label>
    <div class="calc-auction__group d-flex">
      <input placeholder="https://www.copart.com/lot/55018283/clean-t або https://www.iaai.com/VehicleDetail/36636803~US"
        type="text" name="lotUrl" id="calc-auction-input" class="form-control form-control-lg" aria-describedby="calc-auction-btn">

      <div class="calc-auction__group-append">
        <a href="#" class="btn btn-lg btn-black" type="submit" id="calc-auction-btn">Розрахувати</a>
      </div>
    </div>
    <div class="calc-auction__error" style="display: none; color:red;">Не вірний формат посилання.
      Спробуйте посилання типу
      https://www.copart.com/lot/55018283/clean-title-2017-land-rover-range-rover-evoque-se-tx-houston або
      https://www.iaai.com/VehicleDetail/36636803~US</div>

    <div class="row mt-3 mt-sm-4 pt-1 pt-sm-2" id="lot-target" style="display: none">
      <div class="col-12 col-lg-6 mb-sm-4 pb-sm-2 mb-lg-0 pb-lg-0">
        <div class="lot-carousel lot-carousel--calc">
          <div class="lot-carousel__item">
            <h5 class="font-weight-bold mb-1 auctions__title"></h5>
            <h6>№ лота <span class="auctions__lot"></span></h6>
            <img class="auctions__imgURL" src="" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-sm-3 mb-md-4 mb-lg-0">
        <div class="lot-table">
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Номер VIN:</span>
            <strong class="ml-auto pl-4 text-right auctions__vinCode"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Тип документа:</span>
            <strong class="ml-auto pl-4 text-right auctions__titleCode"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Локація:</span>
            <strong class="ml-auto pl-4 text-right auctions__location"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Одометр:</span>
            <strong class="ml-auto pl-4 text-right auctions__odometer"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Втрати / Пошкодження:</span>
            <strong class="ml-auto pl-4 text-right auctions__loss"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Основні пошкодження:</span>
            <strong class="ml-auto pl-4 text-right auctions__primaryDamage"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Додаткові пошкодження:</span>
            <strong class="ml-auto pl-4 text-right auctions__secondaryDamage"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Двигун:</span>
            <strong class="ml-auto pl-4 text-right auctions__engine" id="lot-engine-size"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Паливо:</span>
            <strong class="ml-auto pl-4 text-right auctions__fuel" id="lot-fuel-type"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Ключі:</span>
            <strong class="ml-auto pl-4 text-right auctions__keys"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Остання ставка:</span>
            <strong class="ml-auto pl-4 text-right auctions__currentBid"></strong>
          </div>
          <div class="lot-table__row d-flex flex-nowrap">
            <span>Buy now:</span>
            <strong class="ml-auto pl-4 text-right auctions__buyNow"></strong>
          </div>
        </div>
      </div>
    </div>


  </form>

  {% block content %}
    <div{{ content_attributes.addClass('content block-content') }}>
      {{ content }}
    </div>
  {% endblock %}
</div>
