{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 sb-r">
      <article{{ attributes.addClass(classes) }}>
        <div class="post-block">

          <div class="post-thumbnail post-{{ post_format }}">
            {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
              {{ gva_iframe|raw }}
            {% elseif post_format == 'gallery' and content.field_post_gallery %}
              {{ content.field_post_gallery }}
            {% else %}
              {{ content.field_image }}
            {% endif %}
          </div>

          <div class="post-content">
            <div class="post-price">
              <div class="price-value d-flex align-items-center justify-content-center">
                <span class="dollar">$</span>
                <span class="value">{{ content.field_stoimost }}</span>
                {#<span class="interval"><span class="space">&nbsp;/&nbsp;</span>Month</span>#}
              </div>
            </div>

            {% if display_submitted %}
              <div class="node__meta hidden">
                {{ author_picture }}
                <span{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </span>
                {{ metadata }}
              </div>
            {% endif %}

            <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
              {{ content|without(
                'field_stoimost',
                'field_god',
                'field_probeg',
                'field_korobka',
                'field_obem_dvigatelya',
                'field_toplivo',
                'field_privod',
                'field_not_car',
                'field_image','field_post_category', 'field_post_format', 'field_post_type', 'field_post_embed', 'field_post_gallery', 'comment') }}
            </div>

            <hr>
            {{ title_prefix }}
            <h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>
            {{ title_suffix }}
            <div class="post-meta">
              <span class="post-categories">{{ content.field_post_category }}</span><span class="line">/</span><span class="post-created"> {{ node.getCreatedTime()|date("F d, Y") }} </span>
            </div>

          </div>

        </div>

      </article>
    </div>

    <div class="col-xl-4 col-lg-4 sidebar col-md-12 col-sm-12 col-xs-12 order-xl-3 order-lg-3 order-md-3 order-sm-3 order-xs-3 sidebar-right theiaStickySidebar">
      <div class="block mb-4">
        <div class="post-attributes">
          <div class="row">
            <div class="col-sm-12 col-md-6 d-flex align-items-center"><img class="mr-2" src="/themes/custom/daudo_subtheme/images/icons/cal.png" width="26" height="21" />{{ content.field_god }}</div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center"><img class="mr-2" src="/themes/custom/daudo_subtheme/images/icons/km.png" width="26" height="21" />{{ content.field_probeg }}</div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center"><img class="mr-2" src="/themes/custom/daudo_subtheme/images/icons/trans.png" width="26" height="21" />{{ content.field_korobka }}</div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center"><img class="mr-2" src="/themes/custom/daudo_subtheme/images/icons/engine.png" width="26" height="21" />{{ content.field_obem_dvigatelya }}</div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center"><img class="mr-2" src="/themes/custom/daudo_subtheme/images/icons/fuel.png" width="26" height="21" />{{ content.field_toplivo }}</div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center"><img class="mr-2" src="/themes/custom/daudo_subtheme/images/icons/drive.png" width="26" height="21" />{{ content.field_privod }}</div>
          </div>
        </div>
      </div>

      {% if content.field_not_car['#items'].value == '1' %}
        {% set block_string = 'Бажаєте такий самий чи краще?' %}
      {% else %}
        {% set block_string = 'Бажаєте такий самий автомобіль?' %}
      {% endif %}

      <div class="contact-link contact-link--blue mb-4">
        <h3 class="title text-white">{{ block_string }}</h3>
        <div class="desc">Напишіть нам і ми зв'яжемося з Вами для обговорення всіх деталей</div>
        <div class="action">
          <button type="button" class="btn btn-white mb-2" data-toggle="modal" data-target="#contentBottomWebform">
            Відправити запит
          </button>
        </div>
        <div class="desc">Або зателефонуйте за телефоном <a href="tel:+380681330101">+38(068) 133 01 01</a></div>
      </div>

      <div class="block mb-4">
        <h2 class="block-title"><span>Дивіться також:</span></h2>
        {{ drupal_view('post_other', 'block_3') }}
      </div>
    </div>
  </div>
