{#
/**
 * @file
 * Gavias's theme implementation to display a single Drupal page.
 */
#}
{% set has_breadcrumb = '' %}
<div class="gva-body-wrapper">
	<div class="body-page gva-body-page">
    {% include header_skin %}

    {% if page.breadcrumbs %}
      {% set has_breadcrumb = ' has-breadcrumb' %}
			<div class="breadcrumbs">
        {{ page.breadcrumbs }}
			</div>
    {% endif %}

		<div role="main" class="main main-page{{ has_breadcrumb }}">

			<div class="clearfix"></div>
      {% if page.slideshow_content %}
				<div class="slideshow_content area">
          {{ page.slideshow_content }}
				</div>
      {% endif %}

      {% if page.help %}
				<div class="help gav-help-region">
					<div class="container">
						<div class="content-inner">
              {{ page.help }}
						</div>
					</div>
				</div>
      {% endif %}

			<div class="clearfix"></div>
      {% if page.before_content %}
				<div class="before_content area">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
                {{ page.before_content }}
							</div>
						</div>
					</div>
				</div>
      {% endif %}

			<div class="clearfix"></div>

			<div id="content" class="content content-full">
				<div class="container-full container-bg">
					<div class="content-main-inner">
						<div id="page-main-content" class="main-content">
							<div class="main-content-inner">
                {% if page.content_top %}
									<div class="content-top">
                    {{ page.content_top }}
									</div>
                {% endif %}

                {% if page.content %}
									<div class="content-main">
										<div class="header-title">

											<div class="container">
												<h2 class="title mt-4 mb-4">
													<span>
														<span property="schema:name">Відстежити за VIN-кодом</span>
													</span>
												</h2>

												<form id="track-form" class="mb-4 col-lg-6 pl-0">
													<div class="input-group mb-3">
														<input type="text" class="form-control" placeholder="Введіть VIN-код" aria-label="VIN-код" aria-describedby="button-addon2">
														<div class="input-group-append">
															<button class="btn btn-outline-secondary" type="button" id="button-addon2">Знайти</button>
														</div>
													</div>
													<div id="track-notice" class="alert-danger mt-2 pl-2 pr-2" style="display:none;">Здається, ви ввели номер у неправильному форматі</div>
												</form>

                        <h2>Atlantic Express</h2>
												<iframe id="track-info-ae" src="" width="100%" height="800px" style="border:0;display:none;"></iframe>

                        <h2>Cargoloop</h2>
                        <iframe id="track-info-cargo" src="" width="100%" height="800px" style="border:0;display:none;"></iframe>

											</div>
										</div>
									</div>
                {% endif %}

                {% if page.content_bottom %}
									<div class="content-bottom">
                    {{ page.content_bottom }}
									</div>
                {% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>

      {% if page.highlighted %}
				<div class="highlighted area">
					<div class="container">
            {{ page.highlighted }}
					</div>
				</div>
      {% endif %}

      {% if page.after_content %}
				<div class="area after-content">
					<div class="container">
						<div class="content-inner">
              {{ page.after_content }}
						</div>
					</div>
				</div>
      {% endif %}

		</div>
	</div>

  {% include '@gavias_daudo/page/footer.html.twig' %}
</div>

{% include '@gavias_daudo/page/parts/quick-side.html.twig' %}
